@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
}

a.active {
  @apply bg-blue-100
  text-pink-500
  font-semibold;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
} */
body.dark {
  background-color: #1f2937; /* gray-800 */
  color: #f9fafb; /* gray-50 */
}

body.dark a.active {
  @apply bg-blue-700 text-white font-semibold;
}
